<div class="text-center">
    @*<h1 class="text-info pt-4">Pronto! Seu pedido foi enviado.</h1>
    <p class="pb-3">Recebemos seu pedido e sua confirmação será processada em breve!</p>*@
    <img src="/images/pedido_finalizado.png" style="width: 80%" />
</div>